<article>
  <header>
    <img src="https://about.gitlab.com/images/press/logo/preview/gitlab-logo-400-preview.png" class="logo" alt="">
  </header>

  <section>
    <h1>Redefinamos la educación del futuro</h1>
  </section>
  <footer>
    <p>
      Hemos ideado una nueva forma de hacer terapia con la doble misión de brindar un mejor servicio a nuestros alumnos
      y de facilitar la labor de nuestros compañeros profesores
    </p>
  </footer>
  <img class="background" src="https://images.pexels.com/photos/5905700/pexels-photo-5905700.jpeg" alt="">
</article>